.card{
    width: 300px;
    background-color: #8404ce;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgb(253, 254, 254);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}